<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Testsuite" parallel="tests" thread-count="2">
    <test name="gmail1">

        <!--<packages>
            <package name="com.inteli.spicejet"/>
        </packages>-->
        <classes>
            <class name="com.inteli.spicejet.SampleGoogle"/>
        </classes>
    </test>
    
    <test name="gmail2">
        <classes>
            <class name="com.inteli.spicejet.GeneticsTest"/>
        </classes>
    </test>
</suite>